#canvasMorpion{
    position: absolute;
    top:80px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body{
    background:url(img/noel1.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.btn-primary{
    border-collapse: collapse;
    position: absolute;
    left: 55%;
    margin-left: -120px;
    top: 82%;
}

h3{
    background: rgba(43, 29, 29, 0.658);
    text-align: center;
    color: white;
   
}

#mode4{
    position: absolute;
    top: auto;
    left:5px;
    right: 0;
    margin: 0;
    background-color: yellowgreen;
}

#mode5{
    position: absolute;
    top: auto;
    left: 5%;
    right: 0;
    margin: 0;
    background-color: yellow;

}

#audio{
    position: absolute;
    top: 50px;
    left: 5px;
    margin-top: 5px;
    padding-bottom: 20px;
}

